:root {
  --arial: 'Arial', sans-serif;
  --opens-sans: "Open Sans", sans-serif;

  --light-gray: #f0f2f5;
  --white: #ffffff;
  --dark-gray: #282c34;
  --green: #4caf50
}


.page-title {
  font-size: 24px;
  font-weight: semi-bold;
  color: #333;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  border-radius: 4px;
  margin-right: 0.9rem;
}

i {
  border-color: black;
  color: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}